
.texto-sobre{ 
    margin-top: 200px;
  }
  
  .texto-sobre h1{
    font-size: 50px;
  }
  
  .texto-descricao{
    margin-top: 15px;
  }
  
  .texto-descricao h2{ 
    font-size: 20px;
  }
  
  .img{
    position: absolute;
    bottom: -450px;
    right: -452px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(226, 43, 43);
  }
  
  .img img{
    position: relative;
  bottom: 60px;
  right: 56px;
  }

  .texto-descricao button{
    margin-top: 30px;
    border: 0;
    background-color:rgb(226, 43, 43);
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;
  }

  .texto-descricao button:hover{
    background-color: rgb(159, 32, 32);
    color: #fafafa;
  }
  
  html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  } 

  .socials {
    position: absolute;
    right: 30px;
  top: 350px;
 }

 .socials img{
display: block;
margin: 10px;
 }