* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.menu {
  padding: 50px 0;
  width: 50%;
  text-align: right;
}

.logo {
  width: 50%;
  margin-top: 40px;
}

.menu a {
  color: rgb(226, 43, 43, 0.7);
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  font-size: 20px;
}

.menu a.active {
  color: rgb(226, 43, 43);
}

.menu a:hover {
  color: rgb(226, 43, 43);
  transition: all 0.3s ease-in-out;
}
